# Site settings
title:          Hyeminlily
description:    "내 한계 깨부수기"
baseurl:        ""
url:            "https://hyeminlily.com"

# Google Analytics
google_analytics: UA—XXXXXXXX-X

# Author
author:
  name:         Hyemin Lee
  url:          https://github.com/hyeminlily
  email:        hyemin518@naver.com

# Build settings
markdown:       kramdown
include:
  - _pages

# Assets
sass:
  sass_dir:     _sass
  style:        compressed

# Gems
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag
  # - jemoji #Uncomment this to allow emoji in your post

# Permalinks
permalink:      /:year-:month-:day/:title
paginate:       5

# Excludes
exclude: [ Gemfile, Gemfile.lock, tale.gemspec ]
